<%- include('./partials/head.ejs') %>

<body>
  <%- include('./partials/nav.ejs') %>
  <div class="content">
    <h1>Welcome to <%= board.name %></h1>
    <h3>Section: <%= board.section %></h3>
    <p>This is a board about <%= board.subject %></p>
    <!-- <a href="/thread/create" class="create">Create Thread</a> -->
    <div class="center-link">
      <a class="button" href="/thread/create/?board=<%= board._id %>">Create Thread</a>
    </div>
    <div class="threads">
      <ul>
        <% if (board.threads.length > 0) { %><% board.threads.forEach(thread => { %>
        <div class="thread-box">
          <div class="title-message">
            <li><a href="/thread/<%= thread._id %>"><%= thread.name %></a><span> <%= thread.createdAt %></span>
              <a href="/thread/<%= thread._id %>">Reply</a></li>
            <p class="thread-title-message"><%= thread.text %></p>
          </div>
          <div class="last-messages">
            <% thread.last_messages.forEach(message => { %>
            <div class="message-box">
              <div class="message-data" id="<%= message._id %>">Date: <%= message.createdAt %>

                <div class="post-id">
                  №>><%= message._id %>
                </div>
                <button class="delete-message">
                  &times
                </button>
              </div>
              <img src="/images/<%= message.picture_path %>" alt="<%= message.picture_path %>">
              <p class="message-text"><%- message.text %></p>
              <div class="incoming-replies">
                <% message.incomingReplies.forEach(reply => { %>
                <a href="#<%= reply %>" class="incoming-reply">>><%= reply %></a>
                <% }) %>
              </div>
            </div>
            <% }) %>
          </div>
        </div>
        <% }) %> <% } else { %>
        <p>There are no threads to display</p>
        <% } %>
      </ul>
    </div>


  </div>
</body>


<%- include('./partials/footer.ejs') %>