<%- include('./partials/head.ejs') %>

<body>
  <%- include('./partials/admin-nav.ejs') %>
  <div class="content">
    <div class="user-management">
      <h1>Change user data</h1>
      <select name="user" id="user">
        <% users.forEach(user => { %>
        <option value="<%= user._id %>"><%= user.name %></option>
        <% }) %>
      </select>
      <form class="management-profile" action="/user/profile" method="POST">
        <label for="role">Name: </label>
        <input type="text" name="name" id="name" value="<%= firstUser.name %>">
        <label for="role">Surname: </label>
        <input type="text" name="surname" id="surname" value="<%= firstUser.surname %>">
        <label for=" role">Role: </label>
        <select name="userType" id="role">
          <% if (firstUser.role === 'admin') { %>
          <option value="admin" selected>Admin</option>
          <option value="moderator">Moderator</option>
          <% } else { %>
          <option value="admin">Admin</option>
          <option value="moderator" selected>Moderator</option>
          <% } %>
        </select>
        <input type="hidden" name="id" id="id" value="<%= firstUser._id %>">
        <input class="button green" type="submit" value="Save">
      </form>
      <div class="delete-user">
        <p class="message"></p>
        <button class="button red " id="delete">Delete</button>
      </div>

    </div>
  </div>

  <script type="text/javascript">
    const form = document.querySelector('form');
    const selectUser = document.getElementById('user');
    const deleteUser = document.getElementById('delete');
    const deleteMessage = document.querySelector('.delete-user > .message');

    const name = document.getElementById('name');
    const surname = document.getElementById('surname');
    const role = document.getElementById('role');
    const id = document.getElementById('id');

    selectUser.addEventListener('change', async (e) => {
      const url = `/user/${e.target.value}`;
      const resultUser = await fetch(url);
      const user = await resultUser.json();
      name.value = user.name;
      surname.value = user.surname;
      role.value = user.userType;
      id.value = user._id;
    });

    deleteUser.addEventListener('click', async (e) => {
      // if (id.va {
      //   console.log('Nothing to delete');
      //   deleteMessage.textContent = 'Nothing to delete';
      // }
      // console.log(id.value);
      fetch(`/user/${id.value}`, {
        method: "DELETE"
      }).then(result => console.log(result));
    })


  </script>
</body>