<%- include('./partials/head.ejs') %>

<body>
  <%- include('./partials/admin-nav.ejs') %>
  <div class="user-management">
    <%= users %>
    <% users.forEach(user => { %>
    kekekekekek
    <% }) %>
    <select name="user" id="user">
      <% users.forEach(user => { %>
      <option value="<%= user._id %>"><%= user.name %></option>
      <% }) %>
    </select>
    <form class="profile" action="/user/profile" method="POST">
      <label for="role">Name: </label>
      <input type="text" name="name" id="name">
      <label for="role">Surname: </label>
      <input type="text" name="surname" id="surname">
      <label for="role">Role: </label>
      <select name="userType" id="role">
        <option value="admin">Admin</option>
        <option value="moderator">Moderator</option>
      </select>
      <input type="hidden" name="id" id="id" value="">
      <input class="button green" type="submit" value="Save">
    </form>
    <div class="delete-user">
      <p class="message"></p>
      <button class="button red " id="delete">Delete</button>
    </div>

  </div>
  <script type="text/javascript">
    const form = document.querySelector('form');
    const selectUser = document.getElementById('user');
    const deleteUser = document.getElementById('delete');
    const deleteMessage = document.querySelector('.delete-user > .message');

    const name = document.getElementById('name');
    const surname = document.getElementById('surname');
    const role = document.getElementById('role');
    const id = document.getElementById('id');

    selectUser.addEventListener('change', async (e) => {
      const url = `/user/${e.target.value}`;
      const resultUser = await fetch(url);
      const user = await resultUser.json();
      name.value = user.name;
      surname.value = user.surname;
      role.value = user.userType;
      id.value = user._id;
    });

    deleteUser.addEventListener('click', async (e) => {
      // if (id.va {
      //   console.log('Nothing to delete');
      //   deleteMessage.textContent = 'Nothing to delete';
      // }
      // console.log(id.value);
      fetch(`/user/${id.value}`, {
        method: "DELETE"
      }).then(result => conosle.log(result));
    })


  </script>
</body>