<%- include('./partials/head.ejs') %>

<body>
  <%- include('./partials/nav.ejs') %>
  <div class="content">
    <h1>Welcome to the <%= thread.name %> <a href="#" id="reply">Reply</a></h1>
    <div id="message-div">
      <div id="error-message">Message</div>
      <div id="message-divheader">
        <div>Send Message</div>
        <div class="close-message">&times</div>
      </div>
      <form class="message" action="/message/create" method="POST" enctype="multipart/form-data">
        <textarea placeholder="Don't be shy, express yourself..." name="text" id="text" cols="30" rows="10"></textarea>
        <input name="image" id="image" type="file">
        <input type="hidden" name="thread" value="<%= thread._id %>">
        <input type="submit" value="Send">
      </form>
    </div>
    <div id="messages">
      <% thread.messages.forEach(message => { %>
      <div class="message-box">
        <div class="message-data" id="<%= message._id %>">Date: <%= message.createdAt %>

          <div class="post-id">
            №>><%= message._id %>
          </div>
          <button class="delete-message">
            &times
          </button>
        </div>
        <img src="/images/<%= message.picture_path %>" alt="<%= message.picture_path %>">
        <p class="message-text"><%- message.text %></p>
        <div class="incoming-replies">
          <% message.incomingReplies.forEach(reply => { %>
          <a href="#<%= reply %>" class="incoming-reply">>><%= reply %></a>
          <% }) %>
        </div>
      </div>
      <% }) %>
    </div>

  </div>
  <script type="text/javascript" src="/js/popup.js"></script>
</body>


<% - include('./partials/footer.ejs') %>